{% extends "plantilla.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Por favor escriba el Primer Nombre y Primer Apellido del Piloto que requiera consultar, junto a las fechas:</h1>
        <hr class="my-2"><!--Linea de separacion-->
            
        <form action="" method = "post">
            <div class="form-group">
                {% csrf_token %}  
                <label for="formGroupExampleInput">
                    <table>
                        <p style="color: red;">
                            Importante:
                        </p>
                        <li>Por favor tener en cuenta que las fechas coincidan con las fechas reales del mes correspondiente
                            Ej: Si Junio tiene 30 días y se pone una fecha mayor como '31', el programa arrojara un error en la fecha</li> 
                        <li>Tiene que ser el primer Nombre y primer Apellido, para poder lograr la busqueda deseada </li>
                        {{ form.as_table }}
                        
                    </table> 
                   
                </label>
                
               
        
               
                {% if form.errors %}
                    <p style="color: red;">
                        Please correct the error{{ form.errors|pluralize }} above.
                    </p>
                {% endif %}
            </div>    
                <input type = "submit" class="btn btn-success btn-lg active" value = "Submit">
                <a name="Inicio" id="Inicio" class="btn btn-danger btn-lg active" href="/ciac_app/tipo_informe" role="button">Back</a>
             
            </form>
           

    </div>

</div>

{% endblock %}