{% extends "plantilla.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!--Escribir contenido de la pagina-->
{% block contenido %}
<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Defina las fechas del mes para ser consultado para EJC:</h1>
        <hr class="my-2"><!--Linea de separacion-->
            
        <form action="" method = "post">
            <div class="form-group">
                {% csrf_token %}  
                <label for="formGroupExampleInput">
                    <table>
                        <p style="color: red;">Importante:</p>
                        <p><li>Por favor tener en cuenta que las fechas coincidan con las fechas reales del mes correspondiente
                            Ej: Si Junio tiene 30 días y se pone una fecha mayor como '31', el programa arrojara un error en la fecha</li> 
                        
                        </p>
                        {{ form.as_table }}
                    </table>  
                </label>
                
            </div>
    
           
            {% if form.errors %}
                <p style="color: red;">
                    Please correct the error{{ form.errors|pluralize }} below.
                </p>
            {% endif %}
            <input type = "submit" class="btn btn-success" value = "Submit">
                <a name="Inicio" id="Inicio" class="btn btn-danger" href="/ciac_app/tipo_informe" role="button">Back</a>
        </form>
    </div>
</div>
{%endblock%}